* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-clr: #5B4663;
  --secondary-clr: #8B63E9;
  --progress-bar-clr: #e7dffa;
  --primary-nav-clr: #C6BFD7;
  --secondary-nav-clr: #EAD8EB;
  --primary-font-clr: #F5F5F5;
  --primary-btn-clr: #533b8b;
  --divider-clr: #BBBBBB;
  --search-bar-size: 40px;
}